<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Patient.css">
    <title>Document</title>
</head>
<body>
  <nav class="navbar">
    <div class="navlinks">
        <ul>
            <li><a href="Home">Home</a></li>
            <li><a href="Log-In">Logout</a></li>
            <li><a href="Doctor">Doctors</a></li>
            <li><a href="Home">Blood Test</a></li>
        </ul>
    </div>
</nav>
    <div id="resume">
        
        <p>Name: <%= p.FirstName %> &nbsp <%= p.LastName %> </p>
        <p>Phone: <%= p.Phone %></a>
        <p>ID: <%= p.id %></a>
        <p>Email: <%= p.email %></a>
        <p> Gender: <%= p.Gender %> </p>
        <p> Birthdate: <%= p.Birthdate %></p>

        
      <dl>
        <dt>Last Blood test:
        <dd>
          <h2>Diseases</h2>
          <p>Here Last blood test diseases</p>
      </dl>
      <dl>
      <dt>Treatment
      <dd>
      <h2>Treatment</h2>
      <p>Here drugs the patient take
      

<section>
  <div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Contact.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">


    <form action="/Patient" method="POST">


      <div class="w3-section">
        <label>Select Doctor</label>
        <select name="doctorid" id="id">
          <%userslist.forEach(user=>{ %> 
            <% if(user.role == "Doctor"){ %>
         
              <option name = "doctorid1"><%= user.FirstName %> &nbsp <%= user.LastName %></option>
     <%}%>
     <%})%>
          
         </select>
    </div>
      
        <div class="w3-section">
            <label>Subject</label>
            <input class="w3-input w3-border" type="text" name="Subject" required>
        </div>

        <div class="w3-section" hidden="true">
          <input class="w3-input w3-border" type="number" name="sender" value= <%= p.id %> required>
      </div>
        <div class="w3-section">
            <label>Message</label>
            <input class="w3-input w3-border" type="text" name="Message" required>
        </div>
        <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send
            Message</button>
    </form>
</div>

</section>

    </div>
      <br>
      <br>
      <div id="current_date"></p>
        <script>
        date = new Date();
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
        </script>
</body>
</html>