<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="PatientTestValues.css">
    <link rel="stylesheet" href="Patient.css">
    <title>Blood Test </title>
</head>

<body>
    <nav class="navbar">
        <div class="navlinks">
            <ul>
                <li><a href="Home">Home</a></li>
                <li><a href="Log-In">Logout</a></li>
                <li><a href="Patient">Back To profile</a></li>
            </ul>
        </div>
    </nav>

    <div class="login-block">
        <h1>Bloot Test </h1>
        <% var test=0;%>
        <p>Name: <%= p.FirstName +" "+ p.LastName%></p>
        <p>ID : <%= p.id%></p>
        <p>Gender: <%=p.Gender %></p>
        <%blood.forEach(bloodtest=>{ %> 
                <% if(p.id == bloodtest.id){ %>
                    <% test ++ %>
                    <h3>Test <%= test %></h3>
                    <p>WBC: <%= bloodtest.wbc%></p>
                    <p>Nuet : <%= bloodtest.neut%></p>
                    <p>Lymph : <%= bloodtest.lymph%></p>
                    <p>RBC : <%= bloodtest.rbc%></p>
                    <p>HCT : <%= bloodtest.hct%></p>
                    <p>Urea : <%= bloodtest.urea%></p>
                    <p>HB : <%= bloodtest.hb%></p>
                    <p>Creatine : <%= bloodtest.creatine%></p>
                    <p>Iron : <%= bloodtest.iron%></p>
                    <p>Alkaline Phosphatase : <%= bloodtest.ap%></p>
                    <%}%>
                    <%})%>
    </div>
</body>

</html>