<!DOCTYPE html>
<html lang="en">
<head>
 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Patient.css">
    <link rel="stylesheet" href="Msg.css">
    <!--<link rel="stylesheet" href="doc.css"> --> 
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Patient</title>
</head>
<body>
  <nav class="navbar">
    <div class="navlinks">
        <ul>
            <li><a href="/views/Home.html">Home</a></li>
            <li><a href="Log-In.html">Logout</a></li>
            <li><a href="/views/Home.html">Blood Test</a></li>
            <li><a href="#appointment">Reserve Appointment</a></li>
        </ul>
    </div>
</nav>

<div id="wrapper">

  <h1 class="heading"> <span>Patient</span> Info </h1>     
      <section>
      <div id="resume">
          
              <p>Name: <%= p.FirstName %> &nbsp <%= p.LastName %> </p>
              <p>Phone: <%= p.Phone %></a>
              <p>ID: <%= p.id %></a>
              <p>Email: <%= p.email %></a>
              <p> Gender: <%= p.Gender %> </p>
              <p> Birthdate: <%= p.Birthdate %></p>

              
            <dl>
              <dt>Last Blood test:
              <dd>
                <h2>Diseases</h2>
                <p>Here Last blood test diseases</p>
            </dl>
            <dl>
            <dt>Treatment
            <dd>
            <h2>Treatment</h2>
            <p>Here drugs the patient take
          </div>
        </section>
  </div>
     


 <div id="wrapper"> 
  <h1 class="heading"> <span>Send</span> Message </h1>     
    <section>
          <div class="w3-container" id="contact" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-red"><b>Contact.</b></h1>


            <form action="/Patient" method="POST">


              <div class="w3-section">
                <label>Select Doctor</label>
                <select name="doctorid" id="id">
                  <%userslist.forEach(user=>{ %> 
                    <% if(user.role == "Doctor"){ %>
                
                      <option value=<%=user.id%> <span><%= user.FirstName %> &nbsp <%= user.LastName %></span></option>
            <%}%>
            <%})%>
                  
                </select>
            </div>
              
                <div class="w3-section">
                    <label>Subject</label>
                    <input class="w3-input w3-border" type="text" name="Subject" required>
                </div>

                <div class="w3-section" hidden="true">
                  <input class="w3-input w3-border" type="number" name="sender" value= <%= p.id %> required>
              </div>
                <div class="w3-section">
                    <label>Message</label>
                    <input class="w3-input w3-border" type="text" name="Message" required>
                </div>
                <div class="w3-section">
              </div>
                <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send
                    Message</button>
            </form>
        </div>

    </section>

</div>  

        <div id ="wrapper" >
          <h1 class="heading"> <span>Nav</span> igate </h1> 
            <section class="location" id="location">

                      <h1 class="heading"> <span>Navigate to nearest </span> Hospital</h1>
              
                      <div class="row">
              
                        <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Yitzhack%20I.%20Rager%20Blvd%20151,%20Be'er%20Sheva+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/wearable-gps/">adventure gps</a></iframe></div>
                          <div class="content">
                              <h3>Our Address</h3>
                              <p>Soroka,</p>
                              <p>Yitzhack I. Rager Blvd 151, Be'er Sheva</p>
                
              
                          </div>
              
                      </div>
      
               </section>
            </div>

    <div class="wrapper" id="appointment">
        <h1 class="heading"> <span>Reserver</span> Appointment </h1>
        <section>
            
          <div class="w3-container" id="contact" style="margin-top:75px">
      
      
          <form action="/Appointment" method="POST">
      
      
            <div class="w3-section">
              <label>Select Doctor</label>
              <select name="doctorid" id="id">
                <%userslist.forEach(user=>{ %> 
                  <% if(user.role == "Doctor"){ %>
               
                    <option value=<%=user.id%> <span><%= user.FirstName %> &nbsp <%= user.LastName %></span></option>
           <%}%>
           <%})%>
                
               </select>
          </div>

          <div class="w3-section" hidden="true">
            <input class="w3-input w3-border" type="number" name="sender" value= <%= p.id %> required>
        </div>
          <table>
            <tr>
              <th><b>Datepicker</b></th>
            </tr>
            <tr>
              <td>Date:</td>
              <td><input type="text" name="datepicked" id="datepicker"></td>
            </tr>
          </table>
      
            
        
              <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">reserve appointment</button>
          </form>
      </div>
            
           
        
        </section>
    </div>
    <script>
      $( function() {
          $( "#datepicker" ).datepicker();
      } );
      </script>


<script>
  date = new Date();
  year = date.getFullYear();
  month = date.getMonth() + 1;
  day = date.getDate();
  document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
  </script>
          
</body>
</html>