<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Patient.css">
    <title>Patient</title>
</head>
<body>
  <nav class="navbar">
    <div class="navlinks">
        <ul>
            <li><a href="Home">Home</a></li>
            <li><a href="Log-In">Logout</a></li>
            <li><a href="Doctor">Doctors</a></li>
            <li><a href="Home">Blood Test</a></li>
        </ul>
    </div>
</nav>
    <div id="resume">
        
        <p>Name: <%= p.FirstName %> &nbsp <%= p.LastName %> </p>
        <p>Phone: <%= p.Phone %></a>
        <p>ID: <%= p.id %></a>
        <p>Email: <%= p.email %></a>
        <p> Gender: <%= p.Gender %> </p>
        <p> Birthdate: <%= p.Birthdate %></p>

        
      <dl>
        <dt>Last Blood test:
        <dd>
          <h2>Diseases</h2>
          <p>Here Last blood test diseases</p>
      </dl>
      <dl>
      <dt>Treatment
      <dd>
      <h2>Treatment</h2>
      <p>Here drugs the patient take
      
    </div>
      <br>
      <br>
      <div id="current_date"></p>
        <script>
        date = new Date();
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
        </script>
            <section class="location" id="location">

              <h1 class="heading"> <span>Navigate to our </span> Cafe</h1>
      
              <div class="row">
      
                  <div class="mapouter">
                      <div class="gmap_canvas">
                          <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=rahat,zone%204&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org">123movies</a><br>
                          <style>
                              .mapouter {
                                  position: relative;
                                  text-align: right;
                                  height: 500px;
                                  width: 600px;
                              }
                          </style><a href="https://www.embedgooglemap.net">use google maps on website</a>
                          <style>
                              .gmap_canvas {
                                  overflow: hidden;
                                  background: none !important;
                                  height: 500px;
                                  width: 600px;
                              }
                          </style>
                      </div>
                  </div>
                  <div class="content">
                      <h3>Our Address</h3>
                      <p>Rahat,</p>
                      <p>Zone 4, Main street</p>
                      <p>We have Free parking slots for our customers !!</p>
      
                  </div>
      
              </div>
      
          </section>
</body>
</html>